<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.1" targetFramework="net472" />
  <package id="GameOverlay.Net" version="4.3.1" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.3.20210817" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>